@import "variables";

/**
 * Tournament bracket view
 */
body {
  margin:     0;
  padding:    0;
}

.swiper-container {
  width:      100%;
  height:     100%;
}

.swiper-slide {
  width:      70%;
}

.match-container {
  /* Center the content */
  display: flex;
  align-items: center;
  .swiper-slide-prev & {
    justify-content: flex-end;
  }
  .swiper-slide-active & {
    justify-content: center;
  }
  .swiper-slide-next & {
    justify-content: flex-start;
  }

  /* Height management for n-2, n-1, n, n+1 and n+2 slides */
  height:                                         $match-container-height/4;
  .swiper-slide-prev & {                  height: $match-container-height/2; }
  .swiper-slide-active & {                height: $match-container-height; }
  .swiper-slide-next & {                  height: $match-container-height*2; }
  .swiper-slide-next + .swiper-slide & {  height: $match-container-height*4; }

  /* Height transition */
  transition: height 1s;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
}

.match {
  background: #E6E6E6;

  &.format-looser {
    .swiper-slide-prev & {
      display: block;
    }
    .swiper-slide-active & {
      display: none;
    }
    .swiper-slide-next & {
      display: none;
    }
  }
  &.format-versus {
    .swiper-slide-prev & {
      display: none;
    }
    .swiper-slide-active & {
      display: block;
    }
    .swiper-slide-next & {
      display: none;
    }
  }
  &.format-upcoming {
    .swiper-slide-prev & {
      display: none;
    }
    .swiper-slide-active & {
      display: none;
    }
    .swiper-slide-next & {
      display: block;
    }
  }
}
