@import "variables";
@import "utils";
@import "match/all";

/**
 * Tournament bracket view
 */
body {
  margin:     0;
  padding:    0;
  background: $color-back;
}

.swiper-container {
  width:      100%;
  height:     100%;
}

.swiper-slide {
  width:      70%;
}

.match-container {
  /* Center the content */
  display: flex;
  align-items: center;
  .swiper-slide-prev & {
    justify-content: flex-end;
  }
  .swiper-slide-active & {
    justify-content: center;
  }
  .swiper-slide-next & {
    justify-content: flex-start;
  }

  /* Height management for n-2, n-1, n, n+1 and n+2 slides */
  height:                                         $match-container-height/4;
  .swiper-slide-prev & {                  height: $match-container-height/2; }
  .swiper-slide-active & {                height: $match-container-height; }
  .swiper-slide-next & {                  height: $match-container-height*2; }
  .swiper-slide-next + .swiper-slide & {  height: $match-container-height*4; }

  /* Height transition */
  transition: height 1s;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
}

.match {
  @include match();

  &.format-looser {
    .swiper-slide-prev & {
      display: block;
    }
    .swiper-slide-active & {
      display: none;
    }
    .swiper-slide-next & {
      display: none;
    }

    @include match-format-looser();
  }

  &.format-versus {
    .swiper-slide-prev & {
      display: none;
    }
    .swiper-slide-active & {
      display: block;
    }
    .swiper-slide-next & {
      display: none;
    }

    @include match-format-versus();
  }

  &.format-upcoming {
    .swiper-slide-prev & {
      display: none;
    }
    .swiper-slide-active & {
      display: none;
    }
    .swiper-slide-next & {
      display: block;
    }

    @include match-format-upcoming();
  }
}

.bracket-line {
  .swiper-slide:first-child & {
    display: none;
  }

  height:           100%;
  width:            4rem;

  .swiper-slide-active & {
    width: 2rem;

    polyline {
      stroke-width:   0.5;
    }
  }

  polyline {
    fill:           none;
    stroke:         $color-main;
    stroke-width:   0.25;
  }
}
