@import "variables";
@import "utils";
@import "match/all";

/**
 * Tournament bracket view
 */
html {
  overflow:   hidden;
  height:     100%;
}
body {
  height:     100%;
  overflow:   hidden;
  margin:     0;
  padding:    0;
  background: $color-background;
}

#bracket {
  width:      100%;
  height:     100%;
}

.bracket-slide {
  width: 70%;
}

.round {
  width:      100%;
  height:     100%;
}

.round-slide {
  /* Height management for n-2, n-1, n, n+1 and n+2 slides */
  height:                                     $match-container-height/4;
  .bracket-prev & {                   height: $match-container-height/2; }
  .bracket-active & {                 height: $match-container-height;   }
  .bracket-next & {                   height: $match-container-height*2; }
  .bracket-next + .bracket-slide & {  height: $match-container-height*4; }
}

.match-container {
  height: 100%;

  /* Display only 3 slides */
  display: flex;
  //.bracket-prev &, .bracket-active &, .bracket-next & { display: flex; }
  //
  /* Center the content */
  align-items: center;
  .swiper-slide-prev & {
    justify-content: flex-end;
  }
  .swiper-slide-active & {
    justify-content: center;
  }
  .swiper-slide-next & {
    justify-content: flex-start;
  }
}

.match {
  @include match();

  &.format-looser {
    .bracket-prev & {
      display: block;
    }
    .bracket-active & {
      display: none;
    }
    .bracket-next & {
      display: none;
    }

    @include match-format-looser();
  }

  &.format-versus {
    .bracket-prev & {
      display: none;
    }
    .bracket-active & {
      display: block;
    }
    .bracket-next & {
      display: none;
    }

    @include match-format-versus();
  }

  &.format-upcoming {
    .bracket-prev & {
      display: none;
    }
    .bracket-active & {
      display: none;
    }
    .bracket-next & {
      display: block;
    }

    @include match-format-upcoming();
  }
}

//.bracket-line {
//  .bracket:first-child & {
//    display: none;
//  }
//
//  height:           100%;
//  width:            4rem;
//
//  .bracket-active & {
//    width: 2rem;
//
//    polyline {
//      stroke-width:   0.5;
//    }
//  }
//
//  polyline {
//    fill:           none;
//    stroke:         $color-strokes;
//    stroke-width:   0.25;
//  }
//}
