$match-container-height: 6rem;


$color-match-background: #ffffff;
$color-background:       #f7f7f7;
$color-focus:            #f2f2f2;
$color-strokes:          #e6e6e6;
$color-disabled:         #d9d9d9;
$color-content:          #000000;

$color-win:  #50b649;
$color-draw: #808080;
$color-loss: #e61a1a;
