@mixin match-format-versus() {
  .side {
    display: flex;
    justify-content: space-between;

    padding: 0.25rem;

    .opponent.tbd {
      color: $color-disabled;
    }

    .result.win {
      color: $color-win;
    }
    .result.draw {
      color: $color-draw;
    }
    .result.loss {
      color: $color-loss;
    }
  }
}
