html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    width: 70%;
    min-width: 20rem;
}
.match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
}
#bracket {
    position: absolute;
    width: 100%;
}

/* Toornament modification */
.match .format-box {
    min-width: 0;
    margin: 0;
}

.size-small .match.format-box .title,
.size-small .match.format-box .secondary,
.size-small .match.format-box .opponent .result {
    display: none;
}

.size-small .match.format-box .record {
    flex-direction: row;
}