<div class="match format-duel format-versus">
    <div class="side">
        <div class="opponent">{{ opponent1_name }}</div>
        <div class="result">0</div>
    </div>
    <div class="side">
        <div class="opponent">{{ opponent2_name }}</div>
        <div class="result">0</div>
    </div>
</div>

<div class="match format-duel format-looser">
    <div class="opponent">{{ opponent1_name }}</div>
</div>

<div class="match format-duel format-upcoming">
    <div class="data">Next match</div>
</div>