<div class="match format-mini hover">
    <div class="record">
        <div class="opponent opponent-1">
            <div class="country"><i class="flag-16 flag-us"></i></div>
            <div class="name">{{ opponent1_name }}</div>
            <div class="result loss">L</div>
        </div>
        <div class="opponent opponent-2">
            <div class="country"><i class="flag-16 flag-de"></i></div>
            <div class="name">{{ opponent2_name }}</div>
            <div class="result win">W</div>
        </div>
    </div>
</div>

<div class="match format-looser">
    <div class="opponent">
        <div class="name">{{ opponent2_name }}</div>
    </div>
    <div><i class="fa-times"></i></div>
</div>